/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background and container styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/images/manuscript.jpg');
    background-size: cover; /* Ensure the background covers the entire screen */
    background-position: center center; /* Center the background image */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.register-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparent white background */
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.register-container img {
    width: 150px;
    margin-bottom: 20px;
}

.register-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Floating label styling */
.register-container .input-container {
    position: relative;
    margin: 10px 0;
}

.register-container .input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-container .input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: #999;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease all;
}

/* Button styling */
.register-container button {
    width: 100%;
    padding: 12px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #00796b;
}

.register-container p {
    margin-top: 15px;
    font-size: 14px;
}

.register-container a {
    color: #009688;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}

.register-container hr {
    border: 0;
    border-top: 3px solid #cccccc; 
    margin: 30px 0;
}
